*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

/* Header Style */

.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    text-align: right;
    padding-top: 150px;
    padding-right: 200px;
}

.header-title{
    font-size: 50px;
    color: #181818;
    margin-bottom: 15px;
    text-align: right;
}

.out, .hope{
    color: rgb(8, 148, 212);
}

.header-description{
    text-align: right;
    color: #474747;
    margin-bottom: 25px;
}

.primary-btn{
    padding: 12px 18px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(8, 148, 212);
    color: #fff;
    font-weight: 500;
}

/* Section Style */
section{
    margin-top: 80px;
}

/* Failure Section Style */

.failure-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.person-img{
    height: 500px;
}

.failure-title{
    font-size: 30px;
    color: #181818;
    margin-bottom: 15px;
}

.failure-description{
    width: 500px;
    margin-bottom: 15px;
    color: #474747;
}

li{
    list-style: none;
    color: #474747;
    margin-bottom: 8px;
}

li ion-icon{
    color: rgb(6, 182, 36);
}

/* My plans Section Style */

.plans-title{
    text-align: center;
    font-size: 30px;
    color: #181818;
    margin-bottom: 45px;
}

.plans-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

.plan-name{
    margin: 15px 0;
    color: #181818;
}

.plan-description{
    font-weight: 500;
    color: #474747;
}

/* Call Now Section Style */

.call-now{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient{
    width: 750px;
    height: 200px;
    border-radius: 5px;
    background-image: linear-gradient(to left,  transparent, rgb(243, 63, 138)), url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.call-now-content{
    padding-left: 60px;
    padding-top: 45px;
}

.call-now-title{
    color: #fff;
    margin-bottom: 10px;
}

.call-now-btn{
    padding: 12px 20px;
    border: 0;
    border-radius: 5px;
    color: rgb(243, 63, 138);
    font-weight: 500;
}

/* Extra Section - My Skills Style */

.skill-title{
    font-size: 30px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 120px;
}

.skill1{
    background-color: rgb(210, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(173, 173, 173);
    padding: 50px 30px;
}

.skill1 ion-icon{
    font-size: 40px;
    color: rgb(230, 98, 10);
    margin-bottom: 10px;
}

.skill2{
    background-color: rgb(253, 213, 236);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(173, 173, 173);
    padding: 50px 30px;
}

.skill2 ion-icon{
    font-size: 40px;
    color: rgb(230, 10, 58);
    margin-bottom: 10px;
}

.skill3{
    background-color: rgb(252, 227, 217);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(173, 173, 173);
    padding: 50px 30px;
}

.skill3 ion-icon{
    font-size: 40px;
    color: rgb(9, 155, 16);
    margin-bottom: 10px;
}

.skill-name{
    color: #181818;
    margin-bottom: 8px;
}

.skill-description{
    width: 250px;
    color: #474747;
}

.advertise{
    text-align: center;
    color: rgb(243, 25, 25);
    font-size: 20px;
    margin-bottom: 10px;
}

hr{
    width: 600px;
    margin-left: 325px;
}

/* Footer Style */

.footer{
    margin-top: 80px;
    background-color: #131313;
}

.footer-content{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 80px 100px;
}

.footer-title{
    color: #fff;
    margin-bottom: 20px;
}

.footer-description{
    width: 400px;
    color: #fff;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.subscribe-title{
    color: #fff;
    margin-bottom: 20px;
}

input{
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.subscribe-btn{
    display: block;
    margin-top: 20px;
    padding: 12px 20px;
    border: 0;
    border-radius: 5px;
    color: rgb(230, 98, 10);
    font-weight: 500;
}